node_modules
.pnp.cjs
.pnp.loader.mjs
.pnpm-debug.log
.turbo
.next
.dist
.out
storybook-static
.DS_Store
.env
.env.local
.env.*.local
.playwright-cli/

# tooling
.biome

# IDE
.idea/
*.iml
.vscode/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
