:root {
  /* Shadow */
  --figma-z1-x: 0px;
  --figma-z1-y: 1px;
  --figma-z1-blur: 2px;
  --figma-z1-spread: 0px;
  --figma-z4-x: 0px;
  --figma-z4-y: 4px;
  --figma-z4-blur: 8px;
  --figma-z4-spread: 0px;
  --figma-z8-x: 0px;
  --figma-z8-y: 8px;
  --figma-z8-blur: 16px;
  --figma-z8-spread: 0px;
  --figma-z12-x: 0px;
  --figma-z12-y: 12px;
  --figma-z12-blur: 24px;
  --figma-z12-spread: -4px;
  --figma-z16-x: 0px;
  --figma-z16-y: 16px;
  --figma-z16-blur: 32px;
  --figma-z16-spread: -4px;
  --figma-z20-x: 0px;
  --figma-z20-y: 20px;
  --figma-z20-blur: 40px;
  --figma-z20-spread: -4px;
  --figma-z24-x: 0px;
  --figma-z24-y: 24px;
  --figma-z24-blur: 48px;
  --figma-z24-spread: 0px;
  --figma-card-x1: 0px;
  --figma-card-y1: 0px;
  --figma-card-blur1: 2px;
  --figma-card-spread1: 0px;
  --figma-card-x2: 0px;
  --figma-card-y2: 12px;
  --figma-card-blur2: 24px;
  --figma-card-spread2: -4px;
  --figma-dialog-x: -40px;
  --figma-dialog-y: 40px;
  --figma-dialog-blur: 80px;
  --figma-dialog-spread: -8px;
  --figma-dropdown-x1: 0px;
  --figma-dropdown-y1: 0px;
  --figma-dropdown-blur1: 2px;
  --figma-dropdown-spread1: 0px;
  --figma-dropdown-x2: -20px;
  --figma-dropdown-y2: 20px;
  --figma-dropdown-blur2: 40px;
  --figma-dropdown-spread2: -4px;
  --figma-drawer-left-x: 40px;
  --figma-drawer-left-y: 40px;
  --figma-drawer-left-blur: 80px;
  --figma-drawer-left-spread: -8px;
  --figma-drawer-right-x: -40px;
  --figma-drawer-right-y: 40px;
  --figma-drawer-right-blur: 80px;
  --figma-drawer-right-spread: -8px;
  --figma-icon-md-shadow-x: 8px;
  --figma-icon-md-shadow-y: 8px;
  --figma-icon-md-shadow-blur: 16px;
  --figma-icon-md-shadow-spread: 0px;
  --figma-icon-md-inset-x: -2px;
  --figma-icon-md-inset-y: -2px;
  --figma-icon-md-inset-blur: 4px;
  --figma-icon-md-inset-spread: 0px;
  --figma-icon-sm-shadow-x: 4px;
  --figma-icon-sm-shadow-y: 4px;
  --figma-icon-sm-shadow-blur: 8px;
  --figma-icon-sm-shadow-spread: 0px;
  --figma-icon-sm-inset-x: -1px;
  --figma-icon-sm-inset-y: -1px;
  --figma-icon-sm-inset-blur: 2px;
  --figma-icon-sm-inset-spread: 0px;
  --figma-icon-primary-shadow-color: color-mix(
    in srgb,
    var(--figma-primary-dark) 16%,
    transparent
  );
  --figma-icon-primary-inset-color: color-mix(
    in srgb,
    var(--figma-primary-dark) 48%,
    transparent
  );
  --figma-icon-secondary-shadow-color: color-mix(
    in srgb,
    var(--figma-warning-dark) 16%,
    transparent
  );
  --figma-icon-secondary-inset-color: color-mix(
    in srgb,
    var(--figma-warning-dark) 48%,
    transparent
  );
  --figma-icon-neutral-shadow-color: color-mix(
    in srgb,
    #c5cad1 16%,
    transparent
  );
  --figma-icon-neutral-inset-color: color-mix(
    in srgb,
    #c5cad1 48%,
    transparent
  );
  --figma-color-x: var(--figma-z8-x);
  --figma-color-y: var(--figma-z8-y);
  --figma-color-blur: var(--figma-z8-blur);
  --figma-color-spread: var(--figma-z8-spread);
}

:root {
  /* Shadow */
  --z1-x-token: var(--figma-z1-x);
  --z1-y-token: var(--figma-z1-y);
  --z1-blur-token: var(--figma-z1-blur);
  --z1-spread-token: var(--figma-z1-spread);
  --z4-x-token: var(--figma-z4-x);
  --z4-y-token: var(--figma-z4-y);
  --z4-blur-token: var(--figma-z4-blur);
  --z4-spread-token: var(--figma-z4-spread);
  --z8-x-token: var(--figma-z8-x);
  --z8-y-token: var(--figma-z8-y);
  --z8-blur-token: var(--figma-z8-blur);
  --z8-spread-token: var(--figma-z8-spread);
  --z12-x-token: var(--figma-z12-x);
  --z12-y-token: var(--figma-z12-y);
  --z12-blur-token: var(--figma-z12-blur);
  --z12-spread-token: var(--figma-z12-spread);
  --z16-x-token: var(--figma-z16-x);
  --z16-y-token: var(--figma-z16-y);
  --z16-blur-token: var(--figma-z16-blur);
  --z16-spread-token: var(--figma-z16-spread);
  --z20-x-token: var(--figma-z20-x);
  --z20-y-token: var(--figma-z20-y);
  --z20-blur-token: var(--figma-z20-blur);
  --z20-spread-token: var(--figma-z20-spread);
  --z24-x-token: var(--figma-z24-x);
  --z24-y-token: var(--figma-z24-y);
  --z24-blur-token: var(--figma-z24-blur);
  --z24-spread-token: var(--figma-z24-spread);
  --card-x1-token: var(--figma-card-x1);
  --card-y1-token: var(--figma-card-y1);
  --card-blur1-token: var(--figma-card-blur1);
  --card-spread1-token: var(--figma-card-spread1);
  --card-x2-token: var(--figma-card-x2);
  --card-y2-token: var(--figma-card-y2);
  --card-blur2-token: var(--figma-card-blur2);
  --card-spread2-token: var(--figma-card-spread2);
  --dialog-x-token: var(--figma-dialog-x);
  --dialog-y-token: var(--figma-dialog-y);
  --dialog-blur-token: var(--figma-dialog-blur);
  --dialog-spread-token: var(--figma-dialog-spread);
  --dropdown-x1-token: var(--figma-dropdown-x1);
  --dropdown-y1-token: var(--figma-dropdown-y1);
  --dropdown-blur1-token: var(--figma-dropdown-blur1);
  --dropdown-spread1-token: var(--figma-dropdown-spread1);
  --dropdown-x2-token: var(--figma-dropdown-x2);
  --dropdown-y2-token: var(--figma-dropdown-y2);
  --dropdown-blur2-token: var(--figma-dropdown-blur2);
  --dropdown-spread2-token: var(--figma-dropdown-spread2);
  --drawer-left-x-token: var(--figma-drawer-left-x);
  --drawer-left-y-token: var(--figma-drawer-left-y);
  --drawer-left-blur-token: var(--figma-drawer-left-blur);
  --drawer-left-spread-token: var(--figma-drawer-left-spread);
  --drawer-right-x-token: var(--figma-drawer-right-x);
  --drawer-right-y-token: var(--figma-drawer-right-y);
  --drawer-right-blur-token: var(--figma-drawer-right-blur);
  --drawer-right-spread-token: var(--figma-drawer-right-spread);
  --icon-md-shadow-x-token: var(--figma-icon-md-shadow-x);
  --icon-md-shadow-y-token: var(--figma-icon-md-shadow-y);
  --icon-md-shadow-blur-token: var(--figma-icon-md-shadow-blur);
  --icon-md-shadow-spread-token: var(--figma-icon-md-shadow-spread);
  --icon-md-inset-x-token: var(--figma-icon-md-inset-x);
  --icon-md-inset-y-token: var(--figma-icon-md-inset-y);
  --icon-md-inset-blur-token: var(--figma-icon-md-inset-blur);
  --icon-md-inset-spread-token: var(--figma-icon-md-inset-spread);
  --icon-sm-shadow-x-token: var(--figma-icon-sm-shadow-x);
  --icon-sm-shadow-y-token: var(--figma-icon-sm-shadow-y);
  --icon-sm-shadow-blur-token: var(--figma-icon-sm-shadow-blur);
  --icon-sm-shadow-spread-token: var(--figma-icon-sm-shadow-spread);
  --icon-sm-inset-x-token: var(--figma-icon-sm-inset-x);
  --icon-sm-inset-y-token: var(--figma-icon-sm-inset-y);
  --icon-sm-inset-blur-token: var(--figma-icon-sm-inset-blur);
  --icon-sm-inset-spread-token: var(--figma-icon-sm-inset-spread);
  --icon-primary-shadow-color-token: var(--figma-icon-primary-shadow-color);
  --icon-primary-inset-color-token: var(--figma-icon-primary-inset-color);
  --icon-secondary-shadow-color-token: var(--figma-icon-secondary-shadow-color);
  --icon-secondary-inset-color-token: var(--figma-icon-secondary-inset-color);
  --icon-neutral-shadow-color-token: var(--figma-icon-neutral-shadow-color);
  --icon-neutral-inset-color-token: var(--figma-icon-neutral-inset-color);
  --color-x-token: var(--figma-color-x);
  --color-y-token: var(--figma-color-y);
  --color-blur-token: var(--figma-color-blur);
  --color-spread-token: var(--figma-color-spread);
}

@theme inline {
  /* Shadow */
  --z1-x: var(--z1-x-token);
  --z1-y: var(--z1-y-token);
  --z1-blur: var(--z1-blur-token);
  --z1-spread: var(--z1-spread-token);
  --z4-x: var(--z4-x-token);
  --z4-y: var(--z4-y-token);
  --z4-blur: var(--z4-blur-token);
  --z4-spread: var(--z4-spread-token);
  --z8-x: var(--z8-x-token);
  --z8-y: var(--z8-y-token);
  --z8-blur: var(--z8-blur-token);
  --z8-spread: var(--z8-spread-token);
  --z12-x: var(--z12-x-token);
  --z12-y: var(--z12-y-token);
  --z12-blur: var(--z12-blur-token);
  --z12-spread: var(--z12-spread-token);
  --z16-x: var(--z16-x-token);
  --z16-y: var(--z16-y-token);
  --z16-blur: var(--z16-blur-token);
  --z16-spread: var(--z16-spread-token);
  --z20-x: var(--z20-x-token);
  --z20-y: var(--z20-y-token);
  --z20-blur: var(--z20-blur-token);
  --z20-spread: var(--z20-spread-token);
  --z24-x: var(--z24-x-token);
  --z24-y: var(--z24-y-token);
  --z24-blur: var(--z24-blur-token);
  --z24-spread: var(--z24-spread-token);
  --card-x1: var(--card-x1-token);
  --card-y1: var(--card-y1-token);
  --card-blur1: var(--card-blur1-token);
  --card-spread1: var(--card-spread1-token);
  --card-x2: var(--card-x2-token);
  --card-y2: var(--card-y2-token);
  --card-blur2: var(--card-blur2-token);
  --card-spread2: var(--card-spread2-token);
  --dialog-x: var(--dialog-x-token);
  --dialog-y: var(--dialog-y-token);
  --dialog-blur: var(--dialog-blur-token);
  --dialog-spread: var(--dialog-spread-token);
  --dropdown-x1: var(--dropdown-x1-token);
  --dropdown-y1: var(--dropdown-y1-token);
  --dropdown-blur1: var(--dropdown-blur1-token);
  --dropdown-spread1: var(--dropdown-spread1-token);
  --dropdown-x2: var(--dropdown-x2-token);
  --dropdown-y2: var(--dropdown-y2-token);
  --dropdown-blur2: var(--dropdown-blur2-token);
  --dropdown-spread2: var(--dropdown-spread2-token);
  --drawer-left-x: var(--drawer-left-x-token);
  --drawer-left-y: var(--drawer-left-y-token);
  --drawer-left-blur: var(--drawer-left-blur-token);
  --drawer-left-spread: var(--drawer-left-spread-token);
  --drawer-right-x: var(--drawer-right-x-token);
  --drawer-right-y: var(--drawer-right-y-token);
  --drawer-right-blur: var(--drawer-right-blur-token);
  --drawer-right-spread: var(--drawer-right-spread-token);
  --icon-md-shadow-x: var(--icon-md-shadow-x-token);
  --icon-md-shadow-y: var(--icon-md-shadow-y-token);
  --icon-md-shadow-blur: var(--icon-md-shadow-blur-token);
  --icon-md-shadow-spread: var(--icon-md-shadow-spread-token);
  --icon-md-inset-x: var(--icon-md-inset-x-token);
  --icon-md-inset-y: var(--icon-md-inset-y-token);
  --icon-md-inset-blur: var(--icon-md-inset-blur-token);
  --icon-md-inset-spread: var(--icon-md-inset-spread-token);
  --icon-sm-shadow-x: var(--icon-sm-shadow-x-token);
  --icon-sm-shadow-y: var(--icon-sm-shadow-y-token);
  --icon-sm-shadow-blur: var(--icon-sm-shadow-blur-token);
  --icon-sm-shadow-spread: var(--icon-sm-shadow-spread-token);
  --icon-sm-inset-x: var(--icon-sm-inset-x-token);
  --icon-sm-inset-y: var(--icon-sm-inset-y-token);
  --icon-sm-inset-blur: var(--icon-sm-inset-blur-token);
  --icon-sm-inset-spread: var(--icon-sm-inset-spread-token);
  --icon-primary-shadow-color: var(--icon-primary-shadow-color-token);
  --icon-primary-inset-color: var(--icon-primary-inset-color-token);
  --icon-secondary-shadow-color: var(--icon-secondary-shadow-color-token);
  --icon-secondary-inset-color: var(--icon-secondary-inset-color-token);
  --icon-neutral-shadow-color: var(--icon-neutral-shadow-color-token);
  --icon-neutral-inset-color: var(--icon-neutral-inset-color-token);
  --color-x: var(--color-x-token);
  --color-y: var(--color-y-token);
  --color-blur: var(--color-blur-token);
  --color-spread: var(--color-spread-token);
}
