:root {
  /* Spacing */
  --figma-spacing-2px: 2px;
  --figma-spacing-0-5: 4px;
  --figma-spacing-0-75: 6px;
  --figma-spacing-1: 8px;
  --figma-spacing-1-25: 10px;
  --figma-spacing-1-5: 12px;
  --figma-spacing-1-75: 14px;
  --figma-spacing-2: 16px;
  --figma-spacing-2-5: 20px;
  --figma-spacing-3: 24px;
  --figma-spacing-4: 32px;
  --figma-spacing-5: 40px;
  --figma-spacing-6: 48px;
  --figma-spacing-7: 56px;
  --figma-spacing-8: 64px;
  --figma-spacing-9: 72px;
  --figma-spacing-10: 80px;
  --figma-spacing-11: 88px;
  --figma-spacing-12: 96px;
  --figma-spacing-13: 104px;
  --figma-spacing-14: 112px;
  --figma-spacing-15: 120px;
  --figma-spacing-16: 128px;
  --figma-spacing-17: 136px;
  --figma-spacing-18: 144px;
  --figma-spacing-19: 152px;
  --figma-spacing-20: 160px;
}

:root {
  /* Spacing */
  --space-2px: var(--figma-spacing-2px);
  --space-0-5: var(--figma-spacing-0-5);
  --space-0-75: var(--figma-spacing-0-75);
  --space-1: var(--figma-spacing-1);
  --space-1-25: var(--figma-spacing-1-25);
  --space-1-5: var(--figma-spacing-1-5);
  --space-1-75: var(--figma-spacing-1-75);
  --space-2: var(--figma-spacing-2);
  --space-2-5: var(--figma-spacing-2-5);
  --space-3: var(--figma-spacing-3);
  --space-4: var(--figma-spacing-4);
  --space-5: var(--figma-spacing-5);
  --space-6: var(--figma-spacing-6);
  --space-7: var(--figma-spacing-7);
  --space-8: var(--figma-spacing-8);
  --space-9: var(--figma-spacing-9);
  --space-10: var(--figma-spacing-10);
  --space-11: var(--figma-spacing-11);
  --space-12: var(--figma-spacing-12);
  --space-13: var(--figma-spacing-13);
  --space-14: var(--figma-spacing-14);
  --space-15: var(--figma-spacing-15);
  --space-16: var(--figma-spacing-16);
  --space-17: var(--figma-spacing-17);
  --space-18: var(--figma-spacing-18);
  --space-19: var(--figma-spacing-19);
  --space-20: var(--figma-spacing-20);
}

@theme inline {
  --spacing-2px: var(--space-2px);
  --spacing-0-5: var(--space-0-5);
  --spacing-0-75: var(--space-0-75);
  --spacing-1: var(--space-1);
  --spacing-1-25: var(--space-1-25);
  --spacing-1-5: var(--space-1-5);
  --spacing-1-75: var(--space-1-75);
  --spacing-2: var(--space-2);
  --spacing-2-5: var(--space-2-5);
  --spacing-3: var(--space-3);
  --spacing-4: var(--space-4);
  --spacing-5: var(--space-5);
  --spacing-6: var(--space-6);
  --spacing-7: var(--space-7);
  --spacing-8: var(--space-8);
  --spacing-9: var(--space-9);
  --spacing-10: var(--space-10);
  --spacing-11: var(--space-11);
  --spacing-12: var(--space-12);
  --spacing-13: var(--space-13);
  --spacing-14: var(--space-14);
  --spacing-15: var(--space-15);
  --spacing-16: var(--space-16);
  --spacing-17: var(--space-17);
  --spacing-18: var(--space-18);
  --spacing-19: var(--space-19);
  --spacing-20: var(--space-20);
}
