.sidebar-navigation-panel {
  height: var(--accordion-panel-height);
  overflow: hidden;
  transition: height 150ms ease-out;
}

.sidebar-navigation-panel[data-starting-style],
.sidebar-navigation-panel[data-ending-style] {
  height: 0;
}

.sidebar-navigation-subtree::before {
  position: absolute;
  top: calc(
    (var(--nav-item-root-height) - var(--nav-item-sub-height)) /
    -2 -
    var(--space-0-5)
  );
  left: var(--nav-bullet-offset);
  bottom: calc(
    var(--nav-item-sub-height) -
    var(--nav-bullet-line-width) -
    var(--nav-bullet-size) /
    2
  );
  width: var(--nav-bullet-line-width);
  content: '';
  background-color: var(--nav-bullet-light-color);
}

.sidebar-navigation-subitem::before {
  position: absolute;
  top: calc(var(--nav-bullet-size));
  left: 0;
  width: var(--nav-bullet-size);
  height: var(--nav-bullet-size);
  content: '';
  background-color: var(--nav-bullet-light-color);
  -webkit-mask:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none' viewBox='0 0 14 14'%3E%3Cpath d='M1 1v4a8 8 0 0 0 8 8h4' stroke='%23efefef' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E")
    50% 50% / 100% no-repeat;
  mask:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none' viewBox='0 0 14 14'%3E%3Cpath d='M1 1v4a8 8 0 0 0 8 8h4' stroke='%23efefef' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E")
    50% 50% / 100% no-repeat;
  transform: translate(
    calc(var(--nav-bullet-size) * -1),
    calc(var(--nav-bullet-size) * -0.4)
  );
}
